:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  text-align: center;
}

p {
  text-align: center;
}

.home-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: absolute;
  gap: 5px;
}

.button-container {
  display: flex;
  justify-content: center;
  padding: 3px;
}

.submit-button {
  padding: 15px;
}

button {
  width: 90%;
}

.button-active {
  background-color: darkgray;
}
